{% extends 'news/base.html' %}

{% block nav1-active %}
    active
{% endblock %}

{% block content %}
    {% for publication in publications  %}
        <div class="container border border-left-0 border-right-0 border-top-0">
            <div class="row">
                <h1 class = "col-10">{{ publication.title }}</h1>
                <p>{{ publication.text|linebreaksbr }}</p>
                <div class="col-md-offset-4">
                    <h5>{{ publication.author }} : {{ publication.published_date|date:'d-m-Y ; h:m' }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}    