{% extends 'news/base.html' %}

{% block nav1-active %}
    active
{% endblock %}

{% block content %}
    {% for publication in publications  %}
        <div class="container border-bottom">
            <div class="row">
                <h2>{{ publication.title }}</h2>
                <p>{{ publication.text|slice:"0:250" }}...<a href="detail/{{ publication.id }}">read more</a></p>
                <div class="col-md-offset-4">
                    <h5>{{ publication.author }} : {{ publication.published_date|date:'d-m-Y ; h:m' }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}    